@inherits LayoutComponentBase

<MudCard @onclick="ChangeCheckBox" Style="width: 150px">
    <MudCardMedia Image="@pokemon.Image" Height="200" />
    @if(pokemon.Seen==false){
    <MudIconButton Icon="@Icons.Filled.CheckBoxOutlineBlank" OnClick="ChangeCheckBox" aria-label="delete"></MudIconButton><span>@pokemon.Name</span>
    }else{
<MudIconButton Icon="@Icons.Filled.CheckBox" aria-label="delete" OnClick="ChangeCheckBox"></MudIconButton><span>@pokemon.Name</span>
    }
</MudCard>

@code {

    [Parameter] public Pokemon? pokemon { get; set; }
    // Marcar como visto si el pookemon está en la lista de vistos.

    [Parameter]
    public EventCallback<int> CheckCallback { get; set; }

    private bool _seen;
    public bool seen
    {
        get
        {
            return _seen;
        }
        set
        {
            Console.WriteLine("Setter alcanzado");
            _seen = value;
            UpdatePokemonList();
        }
    }

    

    private void ChangeCheckBox()
    {
        if (seen)
        {
            seen = false;
        }
        else
        {
            seen = true;
        }



    }

    

    private async void UpdatePokemonList()
    {
        //todo: actualizar la lista, guardar en localstorage, actualizar porcentaje
        await CheckCallback.InvokeAsync(pokemon.ID);
    }
}